{{ define "main" }}
	<h2>Indroduction</h2>
	<p style="text-align: center;">
	Hey there! I am Vikas and there's lot to see here so thanks for stopping by!
	</p>

	<h2>My Stuff</h2>
	<dl class="menu">
		<dt><a href="https://drive.google.com/drive/folders/1Pc_VV5jcq0mqbes_C-KTYcGcyNtHfMrG"><img class="icon" src="/pix/svgs/google-drive-icon.svg" />   Vartak Drive</a></dt>
		<dd>Study material I maintain for my class mates</dd>
		<dt><a href="https://github.com/labstudent41/code">👩‍💻  Practicals Repo</a></dt>
		<dd>Code for practicals performed in college</dd>
		<dt><a href="results">📝  Exam Results</a></dt>
		<dd>I churned vartak result's PDF(s) into web pages</dd>
		<dt><a href="https://github.com/csstudent41"><img class="icon" src="/pix/svgs/github-color.svg" />   GitHub Profile</a></dt>
		<dd>My projects and source files are hosted on GitHub</dd>
		<dt><a href="/dox/resume.pdf">📄  My Resume</a></dt>
		<dd>I am looking for a tech job</dd>
		<dt><a href="/contact">📧  Contact Info</a></dt>
		<dd>Various methods you can reach out to me</dd>
	</dl>

	<h2>My Affiliations</h2>
	<dl class="menu">
		<dt><a href="https://bits24.onrender.com">🎉  BITS 24</a></dt>
		<dd>I worked on organising a techfest event in our college</dd>
		<dt><a href="https://avc.ac.in">🏢  Vartak</a></dt>
		<dd>The college I study in</dd>
	</dl>

{{ end }}
